// header ----------------------------------//
.side-header{
  @include left-content;
  height: 100px;
  padding-top: 35px;
  background: #253141;
}

.main-header{
  @include right-content;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.main-header__edit-btn{
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 28px;
  border: solid 1px $accent-color;
  color: $accent-color;
  float: right;
}

.current-group{
  padding-top: 35px;
  float: left;
}

.current-group__name{
  font-size: 20px;
  color: #333;
}

.member-list::before{
  content: 'Member:';
  float: left;
  @include letter-gray();
  margin: 15px 5px 0 0;
}

.member-list__member{
  @include letter-gray();
  float: left;
  margin: 15px 5px 0 0;
}

.side-header__user-name{
  font-size:16px;
  font-weight: bold;
  display: inline-block;
}

.user-menu{
  float: right;
}

.user-menu__edit-user{
  display: inline-block;
}
.user-menu__new-group{
  display: inline-block;
}
