// レイアウト --------------------------------------//

.wrapper{
  @include clearfix;
  min-width: 800px;
  max-height: 800px;
}

.header{
  clear: both;
  width: 100%;
  height: 100px;
  min-width: 800px;
}

.contents{
  clear:both;
  height: calc(100vh - 100px);
  box-sizing: border-box;
}

@mixin left-content {
  width: 300px;
  height: calc(100vh - 100px);
  padding: 0 20px;
  float: left;
  color: $letter-white;
}

@mixin right-content{
  width: calc(100% - 300px);
  float: right;
  padding: 0 40px;
  }

.chat-main{
  @include right-content;
  background: #fafafa;
  height: calc(100vh - 190px);
  overflow: scroll;
}

.side-bar{
  @include left-content;
  background: #2f3e51;
  overflow: scroll;
}
// flash --------------------------------------//
.notification {
  position: fixed;
  width: 100%;
  .notice {
    background-color: $accent-color;
    color: $letter-white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $letter-white;
    text-align: center;
  }
}
