$accent-color: #38aef0;
$letter-white: #fff;
$message-text-color: #434a54;;

@mixin clearfix{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

@mixin right-content(){
width: calc(100% - 300px);
box-sizing: border-box;
}

@mixin letter-gray{
color: #999;
font-size: 12px;
}

// layout 全体------------------------------------//
.wrapper{
  @include clearfix;
}

.flash-box{
  background: $accent-color;
}

a{
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}

.chat-side{
  width: 300px;
  height: 100vh;
  background: #2f3e51;
  color: $letter-white;
  float: left;
}

