$accent-color: #38aef0;
$letter-white: #fff;
$message-text-color: #434a54;
$alert_orange: #F35500;

@mixin clearfix{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}


@mixin letter-gray{
color: #999;
font-size: 12px;
}

@mixin white_link {
  text-decoration: none;
  &::before{
    color: $white;
  }
  &:hover{
    color: rgba(255, 255, 255, 0.6);
  }
  &:visited{
    color: $white;
  }
}

//  全体------------------------------------//

html {
  box-sizing: border-box;
  *,*:before,*:after {
    box-sizing: inherit;
  }
}

a{
  text-decoration: none;
  &:link{
    color: inherit;
  }
  &:hover{
    color: inherit;
  }
  &:visited{
    color: inherit;
  }
}

.hidden {
  display: none;
}