// @import ------------------------------------//
@import "./reset";
@import "./user";
@import "./variables";
@import "./group";
// @import "./chat.scss";
// @import "./side-bar.scss"

// レイアウト --------------------------------------//
@mixin left-content {
  width: 300px;
  padding: 0 20px;
  float: left;
  color: $letter-white;
}

@mixin right-content{
  width: calc(100% - 300px);
  float: right;
  padding: 0 40px;
  }

.wrapper{
  @include clearfix;
  min-width: 800px;
}

.header{
  clear: both;
  width: 100%;
  height: 100px;
  min-width: 800px;
}

.contents{
  clear:both;
  height: 100vh;
}

// flash --------------------------------------//
.notification {
  .notice {
    background-color: $accent-color;
    color: $letter-white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $letter-white;
    text-align: center;
  }
}

// header ----------------------------------//
.side-header{
  @include left-content;
  height: 100px;
  padding-top: 35px;
  background: #253141;
}

.main-header{
  @include right-content;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.main-header__edit-btn{
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 28px;
  border: solid 1px $accent-color;
  color: $accent-color;
  float: right;
}

.current-group{
  padding-top: 35px;
  float: left;
}

.current-group__name{
  font-size: 20px;
  color: #333;
}

.member-list::before{
  content: 'Member:';
  float: left;
  @include letter-gray();
  margin: 15px 5px 0 0;
}

.member-list__member{
  @include letter-gray();
  float: left;
  margin: 15px 5px 0 0;
}

.side-header__user-name{
  font-size:16px;
  font-weight: bold;
  display: inline-block;
}

.user-menu{
  float: right;
}

.user-menu__edit-user{
  display: inline-block;
}
.user-menu__new-group{
  display: inline-block;
}

// side-bar ----------------------------------//

.side-bar{
  @include left-content;
  height: 100vh;
  background: #2f3e51;
  overflow: scroll;
}

.group__group-name{
  margin-top: 40px;  
  font-size: 15px;
  font-weight: bold;
}

.group__latest-message{
  margin-top: 5px;
  font-size: 11px;
  font-weight: bold;
}

// chat-main ----------------------------------//
.chat-main{
  @include right-content;
  background: #fafafa;

  height: 600px;
  overflow: scroll;
}


.message{
  padding-top: 40px;
}

.upper-info__user{
  font-size: 16px;
  font-weight: bold;
  color: $message-text-color;
  display: inline;
}

.upper-info__date{
  font-size: 12px;
  color: #999;
  display: inline;
}

.lower-message__text{
  font-size: 14px;
  color: $message-text-color;
  margin: 10px 0 40px 0;
}


// form --------------------------------------------/
.footer{
  @include right-content();
  background: #ccc;
  position: relative;
    bottom: 0px;
    right:  0px;
}
.form{
  @include clearfix;
  padding: 20px 0;
  width: 100%;

  .input-box__text{
    width: calc(100%-150px);
    min-width: 62%;
    height: 50px;
    padding-left: 10px;
    background: #fff;
    color: $message-text-color;
    float: left;
    border: 0px;
  }
  .mask{
    background: #fff;
    height: 50px;
    float: left;
    padding-right: 10px;
    .image_label{
      font-size: 1.2em;
      line-height: 50px;
      float: right;
    }
  }

  .input-box__submit-btn{
    width: 100px;
    height: 50px;
    margin-left: 15px;
    background: $accent-color;
    color: #fff;
    float: right;
  }
} 