// @import ------------------------------------//
@import "./reset";
@import "./user";
@import "./variables";

// chat-side ----------------------------------//

.side-header{
  box-sizing: border-box;
  height: 100px;
  padding: 35px 20px 0 20px;
  background: #253141;
}

.side-header__user-name{
  font-size:16px;
  font-weight: bold;
  display: inline-block;
}

.user-menu{
  float: right;
}

.user-menu__edit-user{
  display: inline-block;
}
.user-menu__new-group{
  display: inline-block;
}

.groups{
  padding: 40px 20px 0 20px;
}

.group__group-name{
  font-size: 15px;
  font-weight: bold;
}

.group__latest-message{
  margin-top: 5px;
  font-size: 11px;
  font-weight: bold;
}

// chat-main ----------------------------------//
.chat-main{
  @include right-content();
  height: 100vh;
  background: #fafafa;
  float: left;
}

.main-header{
  padding: 0 40px;
  background: #fff;
  border-bottom: 1px solid #eee;
  @include clearfix();
}

.main-header__edit-btn{
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-top: 28px;
  border: solid 1px $accent-color;
  color: $accent-color;
  float: right;
}

.current-group{
  padding-top: 35px;
  float: left;
}

.current-group__name{
  font-size: 20px;
  color: #333;
}

.member-list__member{
  @include letter-gray();
  float: left;
  margin: 15px 5px 0 0;
}

// form --------------------------------------------/
.form{
  @include right-content();
  padding: 20px 40px;
  background: #ccc;
  position: absolute;
    bottom: 0px;
    right: 0px;
}

.new-message{
  width: 100%;
  height: 50px;
}

.input-box{
  display: inline-block;
  width: calc(100% - 135px);
  margin: 0px 10px;
  background: #fff;
  position: relative;
}

.input-box__text{
  width: 100%;
  height: 50px;
  padding-left: 10px;
  color: $message-text-color;
  border: 0px;
}

.image_label{
  font-size: 1.3em;
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
}

.new-message__submit-btn{
  width: 100px;
  height: 50px;
  margin-left: 15px;
  background: $accent-color;
  color: #fff;
  float: right;
}

// index.html.hml ----------------------------------/
.message{
  padding: 40px 40px 0;
}

.upper-info__user{
  font-size: 16px;
  font-weight: bold;
  color: $message-text-color;
  display: inline;
}

.upper-info__date{
  font-size: 12px;
  color: #999;
  display: inline;
}

.message__text{
  font-size: 14px;
  color: $message-text-color;
  margin: 10px 0 40px 0;
}

